<div class="containter main">
  <div class="row">
    <div class="col">
      <ul>
        <li>
          <div *ngIf="editing">
            <input
              type="text"
              [value]="detail.name"
              (input)="onNameChange(name.value)"
              #name
            />
          </div>
          <div *ngIf="!editing">
            {{ detail.name }}
          </div>
          <p>
            Chech In Date:
            {{
              detail.isHonor
                ? (detail.enrollmentDate | date: "yMMMMd" | uppercase)
                : "No Honor enrollment Date"
            }}
          </p>
          <p>
            Teachers :
            {{ detail.teachers?.length || 0 }}
          </p>
        </li>
      </ul>
      <button (click)="toggleEdit()">{{ editing ? "Done" : "Edit" }}</button>
      <button (click)="onRemove()">Remove</button>
      <button (click)="goToStudent()">View</button>
      <!-- <button (click)="onView()">View</button> -->
    </div>
  </div>
</div>
